@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #f2f3f4;
    font-family: 'Montserrat', sans-serif;
}
.container {
    min-height: 100%;
    align-items: center;
}
#corpus {
    background-color: inherit;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 28.96875px;
}
.typing-section {
    background-color: inherit;
    height: 57.9375px;
    margin: 25px;
}
.input {
    margin-top: 25px;
}
p {
    font-size: 24px;
}
#countdown {
    font-size: 64px;
}
.text-content {
    background-color: #f2f3f4;
    height: inherit;
    overflow: hidden;
}
.largboy {
    margin-left: 10px;
}
#nav-mobile {
    margin-right: 10px;
}
#signup-email, #signup-pass, #login-email, #login-pass {
    width: 75%;
}
#modal-signup, #modal-login {
    width: 25%;
}
.transparentpls {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transparentpls button {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit; 
}
#raw, #adjusted {
    margin: 5px;
}
#signup-email, #login-email {
    width: 100%;
}
.row {
    width: 1250px;
}
nav {
    background-color: transparent;
    box-shadow: none;
}
.navtext {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navtext a {
    font-size: 36px;
}
nav {
    margin-bottom: 100px;
}